.loanOverviewContainer {
    float: left;
    padding: 10px;
    border: 1px dotted #000000;
    margin-top: 10px;
}
.loanOverviewContainer h3, p {
    margin: 0;
}

.houseContainer {
    position: relative;
    float: left;
    width: 300px;
    display: block;
    overflow: hidden;
}

.houseContainer canvas {
    display: block;
    overflow: hidden;
    margin-top: 3px;
}

.houseContainer .door {
    position: absolute; 
    left: 65px; 
    top: 95px; 
    z-index: 100;
}