<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="calculationOpen" (opened)="setCalculationOpen()" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Bolånekalkyl
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input [(ngModel)]="price" matInput type="number" min="1000000" placeholder="Bostadens pris">
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="downPayment" matInput type="number" placeholder="Handpenning">
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="operatingcosts" matInput type="number" placeholder="Driftskostnad">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ränta</mat-label>
      <mat-select [(ngModel)]="interestRateId">
        <mat-option *ngFor="let rate of (interestRates$ | async).entities | keyvalue" [value]="rate.value.id">
          {{ rate.value.name }} ({{rate.value.interestRate}}%)
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="primary" (click)="calculate()">Räkna</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<loan-ratio
  [price]="(mortgagePriceValue$ | async)"
  [downPayment]="(downPaymentValue$ | async)"
></loan-ratio>
<!--
<p>Pris: {{ mortgagePriceValue$ | async }}</p>
<p>Handpenning: {{ downPaymentValue$ | async }}</p>
<p>Driftskostnad: {{ operatingcostsValue$ | async }}</p>
<p>Lånebelopp: {{ loanAmountValue$ || 0 | async }}</p>
<p>Ränta: {{ (interestRates$ | async).entities[interestRateId].name }}</p>
-->