<ul>
    <li>Pris: <input type="text" [(ngModel)]="price" /></li>
    <li>Handpenning: <input type="text" [(ngModel)]="downPayment" /></li>
    <li>Driftskostnad: <input type="text" [(ngModel)]="operatingcosts" /></li>
</ul>

<button (click)="calculate()">Räkna</button>

<p>Pris: {{ mortgagePriceValue$ | async }}</p>
<p>Handpenning: {{ downPaymentValue$ | async }}</p>
<p>Driftskostnad: {{ operatingcostsValue$ | async }}</p>
<p>Lånebelopp: {{ loanAmountValue$ | async }}</p>
<pre>{{ interestRates$ | async | json }}</pre>